body {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.container{
     width: 100%; 
     /* margin: 0px auto 0 auto;   */
    border: solid black 2px;
    padding: 20px;
    height:  100vh;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

label {
    color: rgb(0, 0, 0);
    font-size: 22px;
}

input {
    border: solid black 1px;
    padding: 2px;
    margin: 3px 0;
    width: 80%;

}

p {
    font-size: 10pt;
}

#disclaimer{
    font-size: 6pt;
}

button{
    border: solid black 1px;
    border-radius: 3px;
    padding: 5px;
    background: rgb(101, 142, 255);
}

#logo{
    width: 50px;
    height: 50px;
    padding: 50px;
}

@media (max-width: 420px) {
    .container {
        width: 100%; 
        text-align: center;
        font-size: 90%;

    }
    
}